@import '../node_modules/material-design-lite/dist/material.css';
@import '../node_modules/roboto-font/css/fonts.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

body {
    background-color: #333333;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.vertical-aligner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    width: 100%;
}

.keypad {
}

.keypad-row {
    display: flex;
    flex-direction: row;
}

.key {
    flex: 1;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.status-label {
    color: #FFFFFF;
}

.pin-status-button {
    font-size: 12pt;
    color: #777;
}

.is-entered {
    color: white !important;
}

.flat-button-color {
    color: #777;
}